WebApplication14/Connected Services/FirstWcfServiceReference1/FirstWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FirstWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61077/FirstWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61077/FirstWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61077/FirstWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Common.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFirstWCFService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_getNum_InputMessage">
    <wsdl:part name="parameters" element="tns:getNum" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_getNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_getNum1_InputMessage">
    <wsdl:part name="parameters" element="tns:getNum1" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_getNum1_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNum1Response" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IFirstWCFService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/DoWork" message="tns:IFirstWCFService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/DoWorkResponse" message="tns:IFirstWCFService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/Message" message="tns:IFirstWCFService_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/MessageResponse" message="tns:IFirstWCFService_Message_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/getNum" message="tns:IFirstWCFService_getNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/getNumResponse" message="tns:IFirstWCFService_getNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNum1">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/getNum1" message="tns:IFirstWCFService_getNum1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/getNum1Response" message="tns:IFirstWCFService_getNum1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/GetUserById" message="tns:IFirstWCFService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/GetUserByIdResponse" message="tns:IFirstWCFService_GetUserById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFirstWCFService" type="tns:IFirstWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNum">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/getNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNum1">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/getNum1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FirstWCFService">
    <wsdl:port name="BasicHttpBinding_IFirstWCFService" binding="tns:BasicHttpBinding_IFirstWCFService">
      <soap:address location="http://localhost:61077/FirstWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>